"/* css file*/" 
<<<<<<< HEAD
.subscribe {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.subscribe:hover {
  background-color: #0056b3;
}
=======
"h1 { margin-top: 20px; }" 
>>>>>>> c6a3116 (Adjusted header margin)
